.light-mode {
    background-color: rgb(214, 210, 210);
    color: #333;
}
  
.dark-mode {
    background-color: #282828;
    color: #999;
}

.card-grid {
    display: grid;
    align-items: left;
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    gap: 1rem;
}

.link-dm {
    background-color: #282828;
    color: #999;
}
.link-dm:hover {
    color: #999123;
}
.link-lm {
    background-color: rgb(214, 210, 210);
    color: #333;
}
.link-lm:hover {
    color: rgb(207, 136, 149);
}

.card-light-mode {
    background-color: rgb(236, 236, 236);
}

.card-dark-mode {
    background-color: #474747;
    color: #fff;
}

.ccard-light-mode {
    background-color: rgb(236, 236, 236);
    color: black;
}

.ccard-light-mode:hover {
    background-color: rgb(248, 204, 212);
    color: black;
    text-decoration: none;
}

.ccard-dark-mode {
    background-color: #666666;
    color: #fff;
}

.ccard-dark-mode:hover {
    background-color: #999123;
    color: #fff;
    text-decoration: none;
}

[class='custom-control-input']:checked ~ [class='custom-control-label']::before {
    background-color: #999123;
}

/* body {
    background-color: pink;
    color: black;
} */